{% extends "layout.html" %} {% block body %}
<!-- Page Header -->
<header
  class="masthead"
  style="background-image: url('  {{url_for('static',filename='img/home-bg.jpg')}}')"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Admin Panel</h1>
          <span class="subheading">Manage Your Post</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
      <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
      <!-- To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->

      <a href="/dashboard"
        ><button class="btn btn-primary">Dashboard Home</button></a
      >

      <a href="/logout"><button class="btn btn-primary">LogOut</button></a>
      <hr />
      <h2>ADD Post</h2>
      <form
        name="sentMessage"
        id="contactForm"
        action="/edit/{{sno}}"
        method="post"
        novalidate
      >
        <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label>Title</label>
            <input
              type="text"
              class="form-control"
              placeholder="Title"
              name="title"
              id="title"
              value="{{post.title}}"
              required
              data-validation-required-message="Please enter Title."
            />
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label>Slug</label>
            <input
              type="text"
              value="{{post.slug}}"
              class="form-control"
              placeholder="Slug"
              name="slug"
              id="slug"
              required
              data-validation-required-message="Please enter your slug."
            />
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Content</label>
            <textarea
              type="text"
              value=""
              class="form-control"
              placeholder="Content"
              name="content"
              id="content"
              required
              data-validation-required-message="Please enter your Content."
            >
{{post.content}}</textarea
            >
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label>Image File</label>
            <input
              rows="5"
              value="{{post.img_file}}"
              class="form-control"
              placeholder="Image FileName"
              name="img_file"
              id="img_file"
              required
              data-validation-required-message="Please enter a message."
            />
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <br />
        <div id="success"></div>
        <button type="submit" class="btn btn-primary" id="sendMessageButton">
          Submit p
        </button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
